@import url("https://fonts.googleapis.com/css?family=poppins:wght@400;600&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.lokesh{
    margin:0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    /* overflow:hidden; */
    transition:  all 0.5s linear;
    background:rgba(133,99, 186, 255);
    /* background:rgb(42,192,140); */
    z-index: 999;
}
.lokesh:hover{
    width: 240px;
    transition: 0.5s;
}

.logo
{
    height:80px;
    padding: 16px;
}
.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition:   all 0.5s linear;
}

.menu li:hover,
    .active{
        background: #e0e0e058;

    }
.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span {
    overflow: hidden;

}

.menu a i{
    font-size: 1.2rem;

}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
ul li {
    position: relative;
}

ul li ul.dropdown {
    width: 100%;
    /* background: #8c52ff; */
    background:rgb(42,192,140);
    position: absolute; 
    z-index: 999;
    display: none;
    top: 0; 
   left:100% ; 
    padding: 0; 
    border-radius: 5px; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
}


/* ul li a:hover {
    background: #8c52ff;
} */


ul li:hover ul.dropdown {
    display: block; 
}


ul li ul.dropdown li {
    display: block;
    padding: 10px; 
    color: #fff; 
    font-size: 14px;
    text-align: left; 
}

/* 
ul li ul.dropdown li:hover {
    background: #7a41d5; 
} */


ul li ul.dropdown li:first-child {
    margin-top: 5px; 
}


ul li:hover > ul.dropdown {
    display: block;
}
.img{
    height: 12px;
    width:15px
}

